browser-page
{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-height: 100dvh;
}

.entity-list-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

.entity-search-input
{
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.browser-deck-select
{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 75%;
}
