card-editor-page .card-editor
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

card-editor-page div[contenteditable], card-editor-page input, card-editor-page button, card-editor-page select
{
    padding: 10px;
    border-radius: 5px;
}

.field-container
{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.field-container label
{
    font-weight: bold;
}

.review-checkbox-container input
{
    width: 20px;
    height: 20px;
}

.card-editor-button-container
{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 10px;
}

.card-editor-button-container button
{
    width: 150px;
}



.delete-card-button
{
    background-color: red;
}

.save-button
{
    background-color: green;
}

.reset-progress-button
{
    background-color: goldenrod;
}

button:hover
{
    cursor: pointer;
}

